<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h1>Login</h1>
    {{#if errorMessage}}<div class="alert alert-danger"><strong>Oh no!</strong> {{errorMessage}}</div>{{/if}}
    <form role="form" {{action 'login' on="submit"}} class="clearfix">
      <div {{bind-attr class=":form-group errorMessage:has-error"}}>
        <label for="identification" class="control-label">Username or Email</label>
        {{input type="text" id="identification" class="form-control" value=identification placeholder="Username or Email Address"}}
      </div>
      <div {{bind-attr class=":form-group errorMessage:has-error"}}>
        <label for="password" class="control-label">Password</label>
        {{input type="password" class="form-control" id="password" value=password placeholder="Password"}}
      </div>
      <button type="submit" class="btn btn-default pull-right">Log in</button>
    </form>
    <div>
      <p style="text-align:center">OR</p>
      {{#if App.FBUser}}
        <div>
          <img {{bind-attr src="App.FBUser.picture" alt="App.FBUser.name"}} />
          {{App.FBUser.name}}
          <a href="#" {{action "logout" target="FB"}}>Logout</a>
        <div>
      {{else}}
        <button class="btn btn-primary btn-lrg" {{action 'login' "facebook"}}>Log in with Facebook</button>
      {{/if}}
  </div>
</div>
